/*--------------LISTINGS----------------------*/
*{
	margin:0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    min-height: 100vh;
    margin: 0;
}


header{
	position:sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
	background-color:#304988;
}
header #maison{
	position: relative;
	font-weight: 700;
	font-size: 2em;
	color: #FF5F15;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing:2px;
}
header #maison:hover{
	color:#E65300;
}
header ul{
	position: relative;
	display: flex;
	justify-content:center;
	align-items: center;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #FFF;
	font-weight: 700;
	font-size: 1.4em;
}
header ul li a:hover{
	color:#FF5F15;
}


section{
	height: 100vh;
	width: 100vh;
	scroll-snap-align: start;
}
.sectionCategories{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, rgb(110, 136, 161) 5%, rgb(221, 221, 221) 100%);
	/* background-color: rgb(231,207,180); */
	/* background: linear-gradient(180deg, rgb(169,122,87) 5%, rgb(231, 207, 180) 100%) */
	margin:0;
	width:100%;
}
.div-categories{
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/* background-color: 	rgb(218,109,66); */
	background: linear-gradient(180.3deg, rgb(169,122,87) 5%, rgb(231,207,180) 100%);
	/* background: rgb(169,122,87); */
	height: 100vh;
    width: 80%;
	padding: 50px;
	gap:2rem;
	padding-bottom: 80px;
}
.items{
	display: flex;
    height: 50%;
	flex-wrap:wrap;
	width: 20%;
    background-color: white;
	box-shadow:gray 0 0 15px 0px;
	border-radius: 7px;
	cursor: pointer;
	align-items: center;
	justify-content: flex-start;
}
.items:hover{
	box-shadow:rgb(221,206,187) 0 0 15px 2px;
}
.price{
	font-size: 18px;
	font-weight: bold;
	color: black;
	position: relative;
	top: 40%;
	padding-left: 15px;
	color: #FF5F15;

}
.status{
	font-size: 18px;
	font-weight: bold;
	color: black;
	position: relative;
	top: 48%;
	right: 40%;
	margin:0;
	padding-left:15px;
}
.description{
	display: flex;
	padding-left:15px;
	position: relative;
	top: 10%;
	
}

#img1{
	background-image:url('Apartment.png');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top center;
}
#img2{
	background-image:url('app2.jpg');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top center;
}
#img3{
	background-image:url('app3.jpg');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top;
	background-size: 140%;
}
#img4{
	background-image:url('app4.jpg');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top center;
}
#img5{
	background-image:url('app5.jpg');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top center;
}
#img6{
	background-image:url('app6.jpg');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top center;
}
#img7{
	background-image:url('app7.jpg');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top center;
	background-size: 117%;
}
#img8{
	background-image:url('app8.jpg');
	background-size:     contain;   
    background-repeat:   no-repeat;
    background-position: top center;
	background-size:100%;
}


footer{
	margin-top: auto;
	background-color:#304988;
	display: flex;
	color: #FFF;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	width: 100%;
}

